# Ignore Mac system files
.DS_store

# Ignore LaTeX ancillary files	
*.aux
*.log
*.gz
*.tex

# Ignore large data files
01_introduction_to_python/HadISST_sst.nc
01_introduction_to_python/multipanel.pdf
01_introduction_to_python/multipanel.png
*.nc
